/*.main_content_container{
	height: 100%;
	padding-top: 262px;
    padding-bottom: 262px;
    
     box-sizing: border-box;
}*/
.wrap {
 min-height: 87.1%;
 position: relative;
}
.main_content{
	position: relative;
	top: 30px;
	left: 0px;
	right: 0px;
	background-color: #FFF;
}
.main_content_block{
	position: relative;
	padding: 45px;
	padding-right:50px;
	padding-left:50px;  
	left: 22%;
	height: 100%;
	min-height: 550px;
	width: 56%;
	top: 2%;
	border: 1.8px solid #D6D6D6;
}
.main_content_block_top{
	position: relative;
	height: 15%;
	width: 100%;
	/*border: 1.8px solid #D6D6D6;*/
}
.main_content_block_down{
	position: relative;
	padding: 3%;
	padding-right:12%;
	padding-left:12%; 
	top: 15%;
	height: 85%;
	width: 100%;
	/*border: 1.8px solid #D6D6D6;*/
}
